
.vs/DayZ Launcher/FileContentIndex/48492aee-e542-42fa-a3b9-ffb46a8dcc9b.vsidx
.vs/DayZ Launcher/FileContentIndex/03b88bb9-601d-48c1-83cc-74e3dbbd296b.vsidx
.vs/DayZ Launcher/FileContentIndex/6a2cbf2f-adbe-43b5-92b1-2bef44064d28.vsidx
