
.vs/DayZ Launcher/FileContentIndex/48492aee-e542-42fa-a3b9-ffb46a8dcc9b.vsidx
.vs/DayZ Launcher/FileContentIndex/03b88bb9-601d-48c1-83cc-74e3dbbd296b.vsidx
.vs/DayZ Launcher/FileContentIndex/6a2cbf2f-adbe-43b5-92b1-2bef44064d28.vsidx
.vs/DayZ Launcher/FileContentIndex/1448e962-2cb4-48c9-9d8a-73e24fe06747.vsidx
.vs/DayZ Launcher/FileContentIndex/42ca12ba-cef1-432d-8978-c3e1f5965ac2.vsidx
.vs/DayZ Launcher/FileContentIndex/a80e657b-08b7-4961-a0af-f72e8f91e8a5.vsidx
.vs/DayZ Launcher/FileContentIndex/b0835115-cecf-40b4-bf5b-e0db0b42976e.vsidx
*.vsidx
