<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DayZ_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DayZ_Launcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DayZ_Launcher.Properties.Settings>
            <setting name="DayZ062" serializeAs="String">
                <value />
            </setting>
            <setting name="DayZ028" serializeAs="String">
                <value />
            </setting>
            <setting name="DayZ059" serializeAs="String">
                <value />
            </setting>
            <setting name="username" serializeAs="String">
                <value />
            </setting>
            <setting name="DayZ052" serializeAs="String">
                <value />
            </setting>
            <setting name="DayZ046" serializeAs="String">
                <value />
            </setting>
        </DayZ_Launcher.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <DayZ_Launcher.Properties.Settings>
            <setting name="version" serializeAs="String">
                <value>1.0.2.4</value>
            </setting>
            <setting name="SteamEmu028" serializeAs="String">
                <value>[Launcher]
Target = DayZ.exe
StartIn = #CLIENTPATH#
CommandLine = #ARGS#
SteamClientPath = SmartSteamEmu\SmartSteamEmu.dll
SteamClientPath64 = SmartSteamEmu\SmartSteamEmu64.dll
Persist = 0
ParanoidMode = 0
InjectDll = 0

[SmartSteamEmu]
AvatarFilename = avatar.png
PersonaName = #USERNAME#
AppId = 221100
SteamIdGeneration = GenerateRandom
Language = English

VR = False
Offline = False
QuickJoinHotkey = SHIFT + TAB
MasterServer = 188.40.40.201:27010
MasterServerGoldSrc = 188.40.40.201:27010
[Achievements]
FailOnNonExistenceStats = False

[SSEOverlay]
DisableOverlay = True
OnlineMode = True
Language = 
ScreenshotHotkey = F12
HookRefCount = True
OnlineKey = 

[DirectPatch]

[Debug]
EnableLog = False
MarkLogHotkey = CTRL + ALT + M
LogFilter = User Logged On
Minidump = False

[DLC]
Default = True

[Networking]
BroadcastAddress = 192.168.0.1
ListenPort = 31313
MaximumPort = 10
DiscoveryInterval = 3
MaximumConnection = 200

[PlayerManagement]
AllowAnyoneConnect = False
AdminPassword = 
</value>
            </setting>
            <setting name="startParam" serializeAs="String">
                <value>-connect=#IP# -port=#PORT# -name=#USERNAME# -mod=#MOD#</value>
            </setting>
        </DayZ_Launcher.Properties.Settings>
    </applicationSettings>
</configuration>